{{partial "header.html" .}}
<div class="container">
<div class="col-md-8">
<h1>{{.Title}}</h1>
{{.Content}}
<small>{{dateFormat "2006 Jan 2 " .Date}}</small>
</div>
<div class="col-md-4">
   <p><a href="https://www.apache.org/dyn/closer.cgi/hadoop/common/hadoop-{{.BaseFileName }}/hadoop-{{.BaseFileName }}.tar.gz" class="btn btn-success">Download tar.gz</a></p>
   <p>
     (<a href="https://dist.apache.org/repos/dist/release/hadoop/common/hadoop-{{.BaseFileName }}/hadoop-{{.BaseFileName }}.tar.gz.asc">checksum</a>
     <a href="https://dist.apache.org/repos/dist/release/hadoop/common/hadoop-{{.BaseFileName }}/hadoop-{{.BaseFileName }}.tar.gz.mds">signature</a>)
   </p>
   <p><a href="http://www.apache.org/dyn/closer.cgi/hadoop/common/hadoop-{{.BaseFileName }}/hadoop-{{.BaseFileName }}-src.tar.gz" class="btn btn-warning">Download src</a></p>
   <p>
     (<a href="https://dist.apache.org/repos/dist/release/hadoop/common/hadoop-{{.BaseFileName }}/hadoop-{{.BaseFileName }}-src.tar.gz.asc">checksum</a>
     <a href="https://dist.apache.org/repos/dist/release/hadoop/common/hadoop-{{.BaseFileName }}/hadoop-{{.BaseFileName }}-src.tar.gz.mds">signature</a>)
   </p>
      <p><a href="https://hadoop.apache.org/docs/r{{.BaseFileName }}" class="btn btn-primary">Documentation</a></p>

</div>
</div>
{{partial "footer.html" .}}
