   <div id="navbar" class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
       {{ $currentPage := . }}
       {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <li class="dropdown {{if $currentPage.HasMenuCurrent "main" . }} active{{end}}">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="caret"></span></a>
             <ul class="dropdown-menu">
               {{ range .Children }}
                  <li {{if $currentPage.HasMenuCurrent "main" . }}class="active"{{end}}><a href="{{.URL | relURL}}">{{.Name}}</a></li>
               {{end}}
               {{if eq .Name "Documentation"}}
               <li role="separator" class="divider"></li>
               {{range (where (where $currentPage.Site.Pages "Section" "release") ".Params.linked" true)}}
               <li><a href="https://hadoop.apache.org/docs/r{{.BaseFileName}}/">{{.BaseFileName}}</a></li>
               {{end}}
               <li role="separator" class="divider"></li>
               <li><a href="https://wiki.apache.org/hadoop">Wiki</a></li>
               {{end}}
             </ul>
           </li>
          {{ else }}
             <li class="{{if $currentPage.HasMenuCurrent "main" . }}active{{end}}"><a href="{{ .URL | relURL}}">{{ .Name }}</a></li>
          {{ end }}
       {{end}}
     </ul>
     <ul class="nav navbar-nav navbar-right">
      <li>
       <a href="https://www.apache.org/">Apache Software Foundation <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
      </li>


     </ul>
   </div><!--/.nav-collapse -->
